@import '../../../../lib/admin/boot/boot'

@import '../../*/styles'
@import '../*/styles'

@font-face
  font-family: MyriadPro-Regular
  src: unquote("url('ext/lib/boot/MyriadPro-Regular.otf')")

@font-face
  font-family: MyriadPro-Regular
  src: unquote("url('ext/lib/boot/MyriadPro-Light.otf')")

@font-face
  font-family: MyriadPro-Regular
  src: unquote("url('ext/lib/boot/MyriadPro-Bold.otf')")

#topic-wrapper
  & > h2 .btn-link
    text-decoration: none !important
    font-size: .6em
    padding: .3em .6em
    margin: 0 0 0 1em
