@import '../../../../lib/settings/boot/boot'

@import '../../*/styles'
@import '../*/styles'

#forums-wrapper
  .forum
    width: 100%

.btn-primary
  background-color #2BC0D7 
  &:hover 
    background-color: #5D6AB1


