#topics-wrapper .topics-admin
  .btn-success
    background-color: #5D6AB1
  .btn-group
    .btn-primary
      background-color: #2BC0D7
      &:hover, &:focus
          background-color: #2BC0D7
  .export-update
    .btn.btn-primary
      background-color: #2BC0D7
      &:hover, &:focus
        background-color: #2BC0D7

  .list.list-group-item a
    &:hover, &:focus
       background-color: #2BC0D7
       span
        background-color: #fff

  .list-group-item
    &:hover
      color: #fff
      background-color: #2BC0D7
    .topic-title
      font-weight: inherit

    .delete-topic
      color: #D9534F
