#signup-form
  max-width 400px
  width 90%
  .accepting
    text-align center
    a
      display block
    p
      font-size 15px
      margin 0
  .checkbox-sign-up
    label
      cursor: pointer
#signup-message
  max-width 500px